vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Feb 2003 23:31:49 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|eri_TH/quickreports/index.asp eri_TH/quickreports/historicaldataentry.asp genergy2/corporatedocs.asp eri_TH/gfile_intranet.asp eri_TH/quickreports/details.asp genergy2/employeetasks.asp genergy2/offline.htm cgi-bin/uploadfiles.asp eri_TH/quickreports/fdreport.asp genergy2/corporatenews.asp
vti_author:SR|GHNET\\xiufeng.ni
vti_modifiedby:SR|GHNET\\xiufeng.ni
vti_timecreated:TR|25 Feb 2003 23:31:49 -0000
vti_cacheddtm:TX|25 Feb 2003 23:31:49 -0000
vti_filesize:IR|1667
