vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Jun 2005 17:17:26 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|GHNET\\xiufeng.ni
vti_modifiedby:SR|GHNET\\xiufeng.ni
vti_timecreated:TR|03 Jun 2005 17:17:26 -0000
vti_cacheddtm:TX|03 Jun 2005 17:17:26 -0000
vti_filesize:IR|1231
vti_backlinkinfo:VX|genergy2/logout.asp genergy2/main.asp genergy2/main.htm cgi-bin/pgibill.asp cgi-bin/floordetail.asp cgi-bin/floorsummary.asp genergy2/logoutpopup.asp cgi-bin/pgimeter.asp cgi-bin/riser.asp
